.glyphicon-thumbnail {
    font-size: 6rem;
    background-color: #333333;
    max-height: 140px;
    padding: 14% 12px;
    color: #FFF;
}

img+.caption {
    margin-top: 20px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}